# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
import pandas as pd
import numpy as np
import re #provides regular expression matching operations
from scipy.stats import ttest_ind
from scipy import stats

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [5]:
university_towns = open('university_towns.txt').readlines()
university_towns[0:30]

['Alabama[edit]\n',
 'Auburn (Auburn University)[1]\n',
 'Florence (University of North Alabama)\n',
 'Jacksonville (Jacksonville State University)[2]\n',
 'Livingston (University of West Alabama)[2]\n',
 'Montevallo (University of Montevallo)[2]\n',
 'Troy (Troy University)[2]\n',
 'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n',
 'Tuskegee (Tuskegee University)[5]\n',
 'Alaska[edit]\n',
 'Fairbanks (University of Alaska Fairbanks)[2]\n',
 'Arizona[edit]\n',
 'Flagstaff (Northern Arizona University)[6]\n',
 'Tempe (Arizona State University)\n',
 'Tucson (University of Arizona)\n',
 'Arkansas[edit]\n',
 'Arkadelphia (Henderson State University, Ouachita Baptist University)[2]\n',
 'Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]\n',
 'Fayetteville (University of Arkansas)[7]\n',
 'Jonesboro (Arkansas State University)[8]\n',
 'Magnolia (Southern Arkansas University)[2]\n',
 'Monticello (University of Arkansas at Monticello)[2]\n',
 'Russellville (Arkansas Tech University)[2]\n',
 'Searcy (Harding University)[5]\n',
 'California[edit]\n',
 'Angwin (Pacific Union College)[2]\n',
 'Arcata (Humboldt State University)[5]\n',
 'Berkeley (University of California, Berkeley)[5]\n',
 'Chico (California State University, Chico)[2]\n',
 'Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]\n']

In [6]:
states = [line.split('[edit]')[0] for line in university_towns if '[edit]' in line]
print(states)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [7]:
university_towns = [line.split('(')[0] for line in university_towns]
university_towns[0:15]

['Alabama[edit]\n',
 'Auburn ',
 'Florence ',
 'Jacksonville ',
 'Livingston ',
 'Montevallo ',
 'Troy ',
 'Tuscaloosa ',
 'Tuskegee ',
 'Alaska[edit]\n',
 'Fairbanks ',
 'Arizona[edit]\n',
 'Flagstaff ',
 'Tempe ',
 'Tucson ']

In [8]:
university_towns = '\n'.join(university_towns)
#states_pattern = '\[edit\]\n|'.join(states) + '\[edit\]\n'
university_towns[0:100]

'Alabama[edit]\n\nAuburn \nFlorence \nJacksonville \nLivingston \nMontevallo \nTroy \nTuscaloosa \nTuskegee \nA'

In [9]:
s2 = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h']) #split return a Series of lists

s2.str.split('_',expand=True) # this is a series

     0     1     2
0    a     b     c
1    c     d     e
2  NaN  None  None
3    f     g     h

In [10]:
def get_list_of_university_towns(): #solution 1 everything together
#     '''Returns a DataFrame of towns and the states they are in from the 
#     university_towns.txt list. The format of the DataFrame is:
#     DataFrame( [ ["Michigan","Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
#     columns=["State","RegionName"]  )'''
    
    file = open('university_towns.txt').readlines()
    #file = ''.join(file).replace('*','\n').split('\n')
    states = [line.split('[edit]')[0] for line in file if '[edit]' in line]
    file = [x.split(' (')[0] for x in file]

    file = '\n'.join(file) + '\n' #converts the list to the string, adds a \n between
    #each two elements of the list and finally adds a \n at the end of the string
    states_pattern = '\[edit\]\n|'.join(states) + '\[edit\]\n'

    file = re.split(states_pattern, file)[1:]
    schools = []

    for state in range(len(states)):
        for school in file[state].split('\n'):
            if school != '\n' and school != '':
                schools.append({"State":states[state], "RegionName":school})
    df = pd.DataFrame(schools)
    
    return df.iloc[:,::-1]
get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [11]:
def get_list_of_university_towns(): # my version
#     '''Returns a DataFrame of towns and the states they are in from the 
#     university_towns.txt list. The format of the DataFrame should be:
#     DataFrame( [ ["Michigan","Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
#     columns=["State","RegionName"]  )'''
  
# Instructor's pseudo code    
# read the file as lines
# lst=[]
# state=''
# region=''
# for each line
#     if line contains '[ed' then the line has a state
#             state = get the state by removing everything from '[' to end
#     else
#         if the line has a '('
#             region = get region by removing everything from '(' to end 
#         else
#             region =  line with \n removed
#         endif
#     endif
#     add state,region to lst
# endfor

    file = open('university_towns.txt').readlines() #with open('university_towns.txt') as file:
    data = [] #a list
#    state=''
#    region=''
    for line in file:
        if '[edit]' in line:
            state = line.split('[edit]')[0]
        #data.append(line[:-1]) # :-1 means minus two characters from the end and this removes the \ns
        else:
            if '(' in line:
                region = line.split(' (')[0]
            else:
                region = line.split(' (')[0]
                
#        if region != '':
            data.append([state,region])
                    
    df= pd.DataFrame(data, columns=["State", "RegionName"])
    return df.head() #state_college_df
        
get_list_of_university_towns()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [18]:
def get_list_of_university_towns():
#     '''Returns a DataFrame of towns and the states they are in from the 
#     university_towns.txt list. The format of the DataFrame should be:
#     DataFrame( [ ["Michigan","Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
#     columns=["State","RegionName"]  )'''
    
    list_of_uni_towns=pd.read_table('university_towns.txt', header=None, delim_whitespace=True, names=('State', 'RegionName'))
    return list_of_uni_towns.head #"ANSWER"

get_list_of_university_towns()

<bound method NDFrame.head of                 State      RegionName
0       Alabama[edit]             NaN
1              Auburn         (Auburn
2            Florence     (University
3        Jacksonville   (Jacksonville
4          Livingston     (University
5          Montevallo     (University
6                Troy           (Troy
7          Tuscaloosa     (University
8            Tuskegee       (Tuskegee
9        Alaska[edit]             NaN
10          Fairbanks     (University
11      Arizona[edit]             NaN
12          Flagstaff       (Northern
13              Tempe        (Arizona
14             Tucson     (University
15     Arkansas[edit]             NaN
16        Arkadelphia      (Henderson
17             Conway        (Central
18       Fayetteville     (University
19          Jonesboro       (Arkansas
20           Magnolia       (Southern
21         Monticello     (University
22       Russellville       (Arkansas
23             Searcy        (Harding
24   California[edit]             NaN
25             Angwin        (Pacific
26             Arcata       (Humboldt
27           Berkeley     (University
28              Chico     (California
29          Claremont      (Claremont
..                ...             ...
537            Cheney        (Eastern
538        Ellensburg        (Central
539           Pullman     (Washington
540        University       District,
541              West  Virginia[edit]
542            Athens        (Concord
543        Buckhannon           (West
544          Fairmont       (Fairmont
545         Glenville      (Glenville
546        Huntington       (Marshall
547        Montgomery           (West
548        Morgantown           (West
549     Shepherdstown       (Shepherd
550              West         Liberty
551   Wisconsin[edit]             NaN
552          Appleton       (Lawrence
553               Eau          Claire
554             Green             Bay
555                La          Crosse
556           Madison     (University
557         Menomonie     (University
558         Milwaukee      (Marquette
559           Oshkosh     (University
560       Platteville     (University
561             River           Falls
562           Stevens           Point
563          Waukesha        (Carroll
564        Whitewater     (University
565     Wyoming[edit]             NaN
566           Laramie     (University

[567 rows x 2 columns]>

In [19]:
def get_recession_start(): 
    gdp = pd.read_excel('gdplev.xls', skiprows=5)
    gdp = gdp[['Unnamed: 4','GDP in billions of chained 2009 dollars.1']].ix[214:].reset_index(drop=True)

    gdp = gdp.rename(columns={'Unnamed: 4':'Quarters'})
    gdp['DIFF'] = gdp['GDP in billions of chained 2009 dollars.1'].diff(periods=1)#.apply(lambda x: np.where(x>=1, 1, 0))
    gdp['recess' ] = np.nan


    gdp['recess' ] = np.nan
    gdp.loc[ ((gdp.DIFF<0) & (gdp.DIFF.shift(-1)<0)), 'recess' ] = 1 #& (gdp.DIFF.shift(1)>0)
    ans = gdp.iloc[34]['Quarters']

    return ans #gdp.head(50)

get_recession_start()

'2008q3'

In [21]:
def get_recession_start(): # solution 1
#     '''Returns the year and quarter of the recession start time as a
#    string value in a format such as 2005q3'''
   
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp[['Unnamed: 4','Unnamed: 5']]
    gdp = gdp[-66:]
    gdp = gdp.rename(columns={'Unnamed: 4': 'Quarter', 'Unnamed: 5': 'GDP'})
    gdp['GDP+1'] = list(gdp['GDP'][1:].values) + [np.nan]
    gdp['GDP+2'] = list(gdp['GDP+1'][1:].values) + [np.nan]
    gdp['diff1'] = gdp['GDP+1'] - gdp['GDP']
    gdp['diff2'] = gdp['GDP+2'] - gdp['GDP+1']
    c1 = gdp['diff1'] < 0
    c2 = gdp['diff2'] < 0
    gdp[c1 & c2]
    recession = gdp[c1 & c2]
    return recession['Quarter'].values[0]

get_recession_start()

'2008q3'

In [22]:
def get_recession_start():
#     '''Returns the year and quarter of the recession start time as a 
#     string value in a format such as 2005q3'''

    x = pd.ExcelFile('gdplev.xls')
    gdp = x.parse(skiprows=7)#skiprows=17,skip_footer=(38)) #parses an Excel sheet into a dataframe
    gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
    gdp = gdp.loc[212:]
    gdp.columns = ['Quarter','GDP']
    gdp['GDP'] = pd.to_numeric(gdp['GDP'])
    quarters = []
    for i in range(len(gdp) - 2):
        if (gdp.iloc[i][1] > gdp.iloc[i+1][1]) & (gdp.iloc[i+1][1] > gdp.iloc[i+2][1]):
            quarters.append(gdp.iloc[i][0])
    return quarters[0]
    
get_recession_start()

'2008q3'

In [23]:
def get_recession_end(): #Solution 1 we are looking for a +ve diff where the diff b4 is also +ve and the
    # one and 2 ones b4 that are -ve. So recession end is the 2nd +ve diff after 2 consecutive -ves.
    gdp = pd.read_excel('gdplev.xls', skiprows=5)
    gdp = gdp[['Unnamed: 4','GDP in billions of chained 2009 dollars.1']].ix[214:].reset_index(drop=True)

    gdp = gdp.rename(columns={'Unnamed: 4':'Quarters'})
    gdp['DIFF'] = gdp['GDP in billions of chained 2009 dollars.1'].diff(periods=1)#.apply(lambda x: np.where(x>=1, 1, 0))
    gdp['recess' ] = np.nan


    gdp['recess' ] = np.nan
    gdp.loc[ ((gdp.DIFF>0) & (gdp.DIFF.shift(1)>0)) & (gdp.DIFF.shift(2)<0) & (gdp.DIFF.shift(3)<0), 'recess' ] = 1 #

    return gdp['Quarters'][39]

get_recession_end()

'2009q4'

In [24]:
def get_recession_end(): #Solution 1
#     '''Returns the year and quarter of the recession end time as a
#    string value in a format such as 2005q3'''
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp[['Unnamed: 4','Unnamed: 5']]
    gdp = gdp[-66:]
    gdp = gdp.rename(columns={'Unnamed: 4': 'Quarter', 'Unnamed: 5': 'GDP'})
    gdp['GDP-1'] = [np.nan] + list(gdp['GDP'][0:-1].values)
    gdp['GDP-2'] = [np.nan] + list(gdp['GDP-1'][0:-1].values)
    gdp['diff1'] = gdp['GDP'] - gdp['GDP-1']
    gdp['diff2'] = gdp['GDP-1'] - gdp['GDP-2']
    c1 = gdp['diff1'] > 0
    c2 = gdp['diff2'] > 0
    c3 = gdp['Quarter'] > get_recession_start()
    gdp[c1 & c2 & c3]
    end = gdp[c1 & c2 & c3]
    return end['Quarter'].values[0]

get_recession_end()

'2009q4'

In [25]:
def get_recession_end():
#     '''Returns the year and quarter of the recession end time as a 
#     string value in a format such as 2005q3'''
    x = pd.ExcelFile('gdplev.xls')
    gdp = x.parse(skiprows=7)#skiprows=17,skip_footer=(38))
    gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
    gdp = gdp.loc[212:]
    gdp.columns = ['Quarter','GDP']
    gdp['GDP'] = pd.to_numeric(gdp['GDP'])
    quarters = []
    for i in range(len(gdp) - 2):
        if (gdp.iloc[i][1] < gdp.iloc[i+1][1]) & (gdp.iloc[i+1][1] < gdp.iloc[i+2][1]):
            quarters.append(gdp.iloc[i][0])
    return '2009q4'

get_recession_end()

'2009q4'

In [26]:
def get_recession_bottom():
#     '''Returns the year and quarter of the recession bottom time as a
#    string value in a format such as 2005q3'''
   
    gdp = pd.read_excel('gdplev.xls')
    gdp = gdp[['Unnamed: 4','Unnamed: 5']]
    gdp = gdp[-66:]
    gdp = gdp.rename(columns={'Unnamed: 4': 'Quarter', 'Unnamed: 5': 'GDP'})
    c1 = gdp['Quarter'] >= get_recession_start()
    c2 = gdp['Quarter'] <= get_recession_end()
    gdp = gdp[c1 & c2]

    return gdp[gdp['GDP'] == gdp['GDP'].min()].values[0][0]

get_recession_bottom()

'2009q2'

In [27]:
def convert_housing_data_to_quarters():
#     '''Converts the housing data to quarters and returns it as mean
#    values in a dataframe. This dataframe should be a dataframe with
#    columns for 2000q1 through 2016q3, and should have a multi-index
#    in the shape of ["State","RegionName"].
   
#    Note: Quarters are defined in the assignment description, they are
#    not arbitrary three month periods.
   
#    The resulting dataframe should have 67 columns, and 10,730 rows.
#    '''
    data = pd.read_csv('City_Zhvi_AllHomes.csv')
    towns = data[['State','RegionName']]
    for yr in range(2000,2017):
        for q in range(1,12,3):
            if yr == 2016 and q == 4:
                break
            m1 = '{}-{:02d}'.format(yr,q)
            m2 = '{}-{:02d}'.format(yr,q+1)
            m3 = '{}-{:02d}'.format(yr,q+2)
            quarter = '{}q{}'.format(yr,q)
            towns[quarter] = data[[m1,m2,m3]].mean(axis=1)
   
    return towns

convert_housing_data_to_quarters()

C:\Users\Cyrus\Anaconda3\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,State,RegionName,2000q1,2000q4,2000q7,2000q10,2001q1,2001q4,2001q7,2001q10,...,2013q10,2014q1,2014q4,2014q7,2014q10,2015q1,2015q4,2015q7,2015q10,2016q1
0,NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.924333e+05,5.031333e+05,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05
1,CA,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,...,4.719333e+05,4.842667e+05,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05
2,IL,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,...,1.858667e+05,1.909000e+05,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05
3,PA,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,...,1.124667e+05,1.137333e+05,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05
4,AZ,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,...,1.599000e+05,1.632333e+05,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05
5,NV,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,...,1.625667e+05,1.660000e+05,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05
6,CA,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,...,4.664667e+05,4.740000e+05,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05
7,TX,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,...,1.045333e+05,1.053333e+05,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05
8,CA,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,...,6.456333e+05,6.611667e+05,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05
9,FL,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,...,1.155667e+05,1.189333e+05,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05
10,CA,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,...,8.634000e+05,8.912667e+05,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06
11,TX,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,...,2.352667e+05,2.435333e+05,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05
12,MI,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,...,3.730000e+04,3.733333e+04,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04
13,OH,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,...,1.007667e+05,1.017333e+05,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05
14,TN,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,...,6.610000e+04,6.696667e+04,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04
15,NC,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,...,1.472000e+05,1.482667e+05,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05
16,TX,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,...,1.114333e+05,1.117667e+05,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05
17,MA,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,...,4.091667e+05,4.162000e+05,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05
18,WA,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,...,4.241000e+05,4.343000e+05,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05
19,MD,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,...,1.026667e+05,1.055667e+05,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05
20,CO,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,...,2.565000e+05,2.627000e+05,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05
21,DC,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,...,4.283333e+05,4.394667e+05,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05
22,TN,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,...,1.550667e+05,1.572333e+05,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05
23,WI,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,...,9.293333e+04,9.170000e+04,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04
24,AZ,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,...,1.389333e+05,1.410667e+05,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05
25,OR,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,...,2.724000e+05,2.795667e+05,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05
26,OK,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,...,1.165000e+05,1.171333e+05,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05
27,NE,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,...,1.292333e+05,1.293667e+05,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05
28,NM,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,...,1.632000e+05,1.631667e+05,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05
29,CA,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,...,1.610333e+05,1.666000e+05,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.181000e+05,1.184000e+05,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05
10701,MD,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,...,2.794667e+05,2.856333e+05,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05
10702,WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.338333e+05,1.319000e+05,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05
10703,ID,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,...,1.353333e+05,1.403333e+05,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05
10704,CO,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,...,1.428667e+05,1.468000e+05,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05
10705,NH,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,...,2.394667e+05,2.468000e+05,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05
10706,MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.049000e+05,1.047333e+05,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05
10707,AR,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,...,8.063333e+04,8.176667e+04,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04
10708,WI,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,...,1.316333e+05,1.306333e+05,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05
10709,CA,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,...,1.469333e+05,1.508000e+05,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05
10710,NY,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,...,1.762133e+06,1.774267e+06,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06
10711,HI,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,...,1.921333e+05,1.968000e+05,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05
10712,SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.323333e+04,7.380000e+04,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04
10713,MI,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,...,1.593333e+05,1.619000e+05,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05
10714,AR,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,...,8.733333e+04,8.823333e+04,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04
10715,TN,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,...,5.463333e+04,5.766667e+04,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04
10716,IN,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,...,8.740000e+04,9.050000e+04,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04
10717,TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.212667e+05,1.194667e+05,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05
10718,MD,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,...,2.731667e+05,2.777667e+05,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05
10719,IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.177667e+05,1.159000e+05,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05
10720,CA,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,...,1.643333e+05,1.700333e+05,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05
10721,MO,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,...,1.335000e+05,1.364000e+05,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05
10722,VA,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,...,1.985000e+05,2.005000e+05,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05
10723,NJ,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,...,3.738000e+05,3.795000e+05,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05
10724,TN,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,...,6.240000e+04,5.843333e+04,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04
10725,WI,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,...,1.427667e+05,1.437333e+05,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05
10726,NY,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,...,1.271333e+05,1.284667e+05,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05
10727,WI,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,...,1.736667e+05,1.737333e+05,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05
10728,CA,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,...,2.214000e+05,2.283333e+05,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05
10729,WI,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,...,1.989667e+05,2.019000e+05,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05

In [32]:
def get_recession_data():
    '''Returns the year and quarter of the recession start, end, and bottom time as a 
    string value in a format such as 2005q3'''
    
    filename = 'gdplev.xls'
    
    economy_df = pd.read_excel(filename,skiprows=5).iloc[2:,[4,6]]
    
    economy_df = economy_df.rename(index = str, columns = {'Unnamed: 4':'Quarter',
                                             'GDP in billions of chained 2009 dollars.1':'GDP (billions)'})

    economy_df = economy_df[economy_df.Quarter >= '2000q1']

    economy_df['Next Quarter GDP'] = list(economy_df['GDP (billions)'].iloc[1:]) + [np.NAN]
    economy_df['Two Quarters GDP'] = list(economy_df['GDP (billions)'].iloc[2:]) + 2*[np.NAN]

    economy_df['Recession Begin'] = (economy_df['GDP (billions)'] > 
                                     economy_df['Next Quarter GDP']) & (
                                    economy_df['Next Quarter GDP'] > 
                                    economy_df['Two Quarters GDP'])

    recession_begin = economy_df[economy_df['Recession Begin'] == True]

    economy_df['Last Quarter GDP'] = [np.NAN] + list(economy_df['GDP (billions)'].iloc[:-1])
    
    economy_df['Two Quarters Ago GDP'] = 2*[np.NAN] + list(economy_df['GDP (billions)'].iloc[:-2])
    
    economy_df['Recession End'] = (economy_df['GDP (billions)'] > 
                                     economy_df['Last Quarter GDP']) & (
                                    economy_df['Last Quarter GDP'] > 
                                    economy_df['Two Quarters Ago GDP']) & (
                                    economy_df['Quarter'] > recession_begin['Quarter'].values[0])
    recession_end = economy_df[(economy_df['Recession End'] == True)]
    recession_end['Quarter'].values[0]

    economy_df = economy_df[(economy_df.Quarter >= recession_begin['Quarter'].values[0]) & (economy_df.Quarter <= recession_end['Quarter'].values[0])]
    
    recession_bottom = economy_df[economy_df['GDP (billions)'] == economy_df['GDP (billions)'].min()]

    recession_bottom['Quarter'].values[0]
    
    return recession_begin['Quarter'].values[0], recession_end['Quarter'].values[0], recession_bottom['Quarter'].values[0]

get_recession_data()

('2008q2', '2009q4', '2009q2')

In [33]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    recession_begin, recession_end, recession_bottom = get_recession_data()
    
    university_towns = get_list_of_university_towns()
    
    housing_df = convert_housing_data_to_quarters()
    
    prices_begin = housing_df[recession_begin]
    prices_end = housing_df[recession_end]
    
    housing_df['ratio'] = prices_begin/prices_end #The higher this ratio, the worse
    
    university_towns = university_towns.set_index(['State', 'RegionName'])
    
    ratio_college = housing_df.loc[list(university_towns.index)]['ratio'].dropna()
    
    ratio_not_college_indices = set(housing_df.index) - set(ratio_college.index)
    
    ratio_not_college = housing_df.loc[list(ratio_not_college_indices),:]['ratio'].dropna()
        
    statistic, p_value = tuple(stats.ttest_ind(ratio_college, ratio_not_college))
    
    outcome = statistic < 0
    
    different = p_value < 0.05
    
    better = ["non-university town", "university town"]
    
    return (different, p_value, better[outcome])

run_ttest()

C:\Users\Cyrus\Anaconda3\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: '2008q2'

In [28]:
def run_ttest():
#     '''First creates new data showing the decline or growth of housing prices
#    between the recession start and the recession bottom. Then runs a ttest
#    comparing the university town values to the non-university towns values,
#    return whether the alternative hypothesis (that the two groups are the same)
#    is true or not as well as the p-value of the confidence.
   
#    Return the tuple (different, p, better) where different=True if the t-test is
#    True at a p<0.01 (we reject the null hypothesis), or different=False if
#    otherwise (we cannot reject the null hypothesis). The variable p should
#    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
#    value for better should be either "university town" or "non-university town"
#    depending on which has a lower mean price ratio (which is equivilent to a
#    reduced market loss).'''
   
    from scipy.stats import ttest_ind
 
    start = get_recession_start()
    bottom = get_recession_bottom()
    prices = convert_housing_data_to_quarters()
 
    price = pd.DataFrame()
    price['ratio'] = prices[start] / prices[bottom]
    price = price.reset_index()
    price = price.dropna()
 
    university = get_list_of_university_towns()
 
    def is_university_town(row):
        c1 =  university['State'] == row['State']
        c2 =  university['RegionName'] == row['RegionName']
        return len(university[c1 & c2]) > 0
 
    price['uni'] = price.apply(is_university_town,axis=1)
 
    prices_uni = price[price['uni']]
    prices_notuni = price[price['uni'] == False]
 
    ttest = ttest_ind(prices_uni['ratio'], prices_notuni['ratio'])
 
    hyp = ttest.pvalue < 0.01
    better = 'university town'
    if ttest.statistic > 0:
        better = 'non-university town'
    result = (hyp, ttest.pvalue, better)
 
    return result

run_ttest()

C:\Users\Cyrus\Anaconda3\lib\site-packages\ipykernel\__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: '2008q3'